CONFIG_KCONFIG_DEMO_MENUCONFIG=y
CONFIG_KCONFIG_DEMO_CONFIG=y
CONFIG_KCONFIG_DEMO_DEPENDS_ON=y
CONFIG_KCONFIG_DEMO_DEPENDS_ON_A=y
CONFIG_KCONFIG_DEMO_SELECT=y
CONFIG_KCONFIG_DEMO_SELECT_DEPENDS=y
CONFIG_KCONFIG_DEMO_RANGE_INTEGER=1
CONFIG_KCONFIG_DEMO_RANGE_HEX=0xa
